<h4>Enpoints de /
  <%= controller.endpoint %>
</h4>
<div class="container-fluid">
  <div class="row">
    <% _.forEach(values, (value) => { %>
      <div class="col-6">
        <div class="card">
          <div class="card-block">
            <h6 class="card-title">
              <%= value.label %>
            </h6>
            <div class="card-text">
              <strong>Collection:</strong>
              <a href="<%=global.baseurl%><%=controller.endpoint%>/<%= value.model %>">/<%= controller.endpoint %>/<%= value.model %></a>
            </div>
            <div class="card-text">
              <strong>Model:</strong>
              <a href="<%=global.baseurl%><%=controller.endpoint%>/<%= value.model %>/1">/<%= controller.endpoint %>/<%= value.model %>/:id</a>
            </div>
            <% _.forEach(value.relations, (rel) => { %>
              <div class="card-text">
                <strong>Relation (<%= rel %>):</strong>
                <a href="<%=global.baseurl%><%=controller.endpoint%>/<%= value.model %>/1/<%= rel %>">/<%= controller.endpoint %>/<%= value.model %>/:id/<%= rel %></a>
              </div>
              <% }) %>

          </div>
        </div>
      </div>
      <% }) %>
  </div>
</div>

<p><a href="/">Volver a la lista de servicios</a></p>
