<h4>Servicios /
  <%=controller.endpoint%>
</h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <a href="/<%=controller.endpoint%>/archetypes">/<%=controller.endpoint%>/archetypes</a>
    </div>
    <div class="col-9">
      Devuelve colecci&oacute;n de archetypes.
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <a href="/<%=controller.endpoint%>/archetypes/1">/<%=controller.endpoint%>/archetypes/:id</a>
    </div>
    <div class="col-9">
      Detalle de archetype y sus relaciones referenciada por :id.
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <a href="/<%=controller.endpoint%>/classes">/<%=controller.endpoint%>/classes</a>
    </div>
    <div class="col-9">
      Devuelve colecci&oacute;n de classes.
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <a href="/<%=controller.endpoint%>/classes/1">/<%=controller.endpoint%>/classes/:id</a>
    </div>
    <div class="col-9">
      Detalle de class y sus relaciones referenciada por :id.
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <a href="/<%=controller.endpoint%>/events">/<%=controller.endpoint%>/events</a>
    </div>
    <div class="col-9">
      Devuelve colecci&oacute;n de events.
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <a href="/<%=controller.endpoint%>/events/1">/<%=controller.endpoint%>/events/:id</a>
    </div>
    <div class="col-9">
      Detalle de event y sus relaciones referenciada por :id.
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <a href="/<%=controller.endpoint%>/skills">/<%=controller.endpoint%>/skills</a>
    </div>
    <div class="col-9">
      Devuelve colecci&oacute;n de skills.
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <a href="/<%=controller.endpoint%>/skills/1">/<%=controller.endpoint%>/skills/:id</a>
    </div>
    <div class="col-9">
      Detalle de la skill y sus relaciones referenciada por :id.
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <a href="/<%=controller.endpoint%>/traits">/<%=controller.endpoint%>/traits</a>
    </div>
    <div class="col-9">
      Devuelve colecci&oacute;n de traits.
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <a href="/<%=controller.endpoint%>/traits/1">/<%=controller.endpoint%>/traits/:id</a>
    </div>
    <div class="col-9">
      Detalle de la trait y sus relaciones referenciada por :id.
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <a href="/<%=controller.endpoint%>/words">/<%=controller.endpoint%>/words</a>
    </div>
    <div class="col-9">
      Devuelve colecci&oacute;n de special words.
    </div>
  </div>
</div>
